<a href="https://colab.research.google.com/github/dannacentellas/PROYECTO-POO/blob/master/Copia_de_Practica_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*** DEBES REALIZAR UNA COPIA DE ESTE NOTEBOOK, PARA ESO DEBES ENTRAR A: Archivo/Guardar una copia en Drive****

<b>Tarea: Realizar una implementación de Regresión Lineal (Simple Linear Regression)en el dataset Cerveja.csv</b>

Puntos a realizar:
- Seleccionar como feature (X) la columna: Temperatura Media (C)
- Seleccionar como target (y) la columna: Consumo de cerveja (litros)
- Implementar Regresión Lineal con ScikitLearn
- Obtener el R2 score
- Graficar la recta sobre los puntos para visualizar el resultado
- En la ultima celda, escribir si es rentable o no hacer uso de Regresión Lineal 
en el dataset, basándonos en el resultado de R2 score y otros puntos que vea conveniente.
- Todas las celdas deben estar previamente comentadas, ya sea usando los 
comentarios propios de python como ser: # (para una linea) ó ''' ''' (para multilineas). 
Estos comentarios deben explicar el proceso a realizarse en al celda. Tambien
puede usar las celdas de Texto que vienen incluidas en Colab (Ej: esta celda donde
esta todo este texto)

Recomendaciones:
- Recordar que los valores float usan puntos (Ej: 3.1416) y no comas (3,1416) pues será considerado como un String .
- Revisar la vectorización de la regresión lineal que se realizó en la clase 4.

<b>La fecha de entrega de la práctica es el domingo 05 de Julio a las 22:00 .</b>

# Dataset Consumo de Cerveza
El estudio es simple, queremos saber cuanta cerveza puede tomar una persona en base a la temperatura, si es un día caluroso quizá prefieras tomar más de una lata de cerveza. El dataset contiene datos de temperaturas en determinados días, como por ejemplo un domingo 27 de junio hizo una temperatura máxima de 27 grados, una temperatura media de 22 y una mínima de 17. Para no hacernos lio en esto, vamos a enfocarnos solo en la temperatura media. Después tenemos datos de Precipitación, Final de Semana y Consumo de Cerveja, siendo la ultima la que nos importa pues queremos predecir dicho consumo.

Todo lo que necesitan ya está importado acá, si creen necesitar importar algo
pueden hacerlo sin ningun problema

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

Este es el dataset que usaremos, el mismo como se puede observar ya fue importado en la variable dataset

In [ ]:
dataset = pd.read_csv("https://raw.githubusercontent.com/pydatalapaz/IntroductionML/master/cerveja.csv")

In [ ]:
dataset.head()

   Unnamed: 0        Data  ... Final de Semana Consumo de cerveja (litros)
0           0  2015-01-01  ...             0.0                      25.461
1           1  2015-01-02  ...             0.0                      28.972
2           2  2015-01-03  ...             1.0                      30.814
3           3  2015-01-04  ...             1.0                      29.799
4           4  2015-01-05  ...             0.0                      28.900

[5 rows x 8 columns]

In [ ]:
dataset.head()

   Unnamed: 0        Data  ... Final de Semana Consumo de cerveja (litros)
0           0  2015-01-01  ...             0.0                      25.461
1           1  2015-01-02  ...             0.0                      28.972
2           2  2015-01-03  ...             1.0                      30.814
3           3  2015-01-04  ...             1.0                      29.799
4           4  2015-01-05  ...             0.0                      28.900

[5 rows x 8 columns]

In [ ]:
dataset.shape

(365, 8)

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

dataset = pd.read_csv("https://raw.githubusercontent.com/pydatalapaz/IntroductionML/master/cerveja.csv")
dataset.shape

(365, 8)

In [ ]:
def to_float_from_str_decimal(string):
    """ It convert '12.540,5' to 125040.50 """
    try:
        return float(string.replace(',', '.'))
    except:
        return string

In [ ]:
dataset['Temperatura Media (C)'] =dataset['Temperatura Media (C)'].apply(to_float_from_str_decimal)
dataset['Temperatura Media (C)'].head()

0    27.30
1    27.02
2    24.82
3    23.98
4    23.82
Name: Temperatura Media (C), dtype: float64

cuantos nulos hay en la columna temp media,y columna de consumo de cerveza

In [ ]:
dataset["Temperatura Media (C)"].isnull().sum()

0

In [ ]:
dataset["Consumo de cerveja (litros)"].isnull().sum()

0

In [ ]:
dataset = dataset.drop(["Temperatura Minima (C)","Temperatura Maxima (C)","Precipitacao (mm)","	Final de Semana","Data"],axis=1)

In [ ]:
dataset = dataset.drop(["Final de Semana","Data"],axis=1)
dataset.head()

   Unnamed: 0  Temperatura Media (C)  Consumo de cerveja (litros)
0           0                  27.30                       25.461
1           1                  27.02                       28.972
2           2                  24.82                       30.814
3           3                  23.98                       29.799
4           4                  23.82                       28.900

In [ ]:
x = np.array(dataset["Temperatura Media (C)"])
y = np.array(dataset["Consumo de cerveja (litros)"])
X_train, X_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [ ]:
x = np.array(dataset.drop(["Consumo de cerveja (litros)"],1)) 
x

In [ ]:
from sklearn.linear_model import LinearRegression
regression_model = LinearRegression()
regression_model.fit(X_train,y_train)

ValueError: ignored